<div class="menu-bar header-sm-height" data-pages-init='horizontal-menu' data-hide-extra-li="4">
    <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-close" data-toggle="horizontal-menu">
    </a>
    <ul>
        <li class=" active">
            <a href="{{ url('chaos_company_admin_homepage') }}">Dashboard</a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <span class="title">Posts</span>
                <span class=" arrow"></span>
            </a>
            <ul class="">
                <li class="">
                    <a href="{{ url('chaos_company_admin_list_post') }}">List</a>
                </li>
                <li class="">
                    <a href="{{ url('chaos_company_admin_add_post') }}">Add new</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);">
                <span class="title">Categories</span>
                <span class=" arrow"></span>
            </a>
            <ul class="">
                <li class="">
                    <a href="{{ url('chaos_company_admin_list_category') }}">List</a>
                </li>
                <li class="">
                    <a href="{{ url('chaos_company_admin_add_category') }}">Add new</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);">
                <span class="title">Tags</span>
                <span class=" arrow"></span>
            </a>
            <ul class="">
                <li class="">
                    <a href="{{ url('chaos_company_admin_list_tag') }}">List</a>
                </li>
                <li class="">
                    <a href="{{ url('chaos_company_admin_add_tag') }}">Add new</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);">
                <span class="title">Comments</span>
                <span class=" arrow"></span>
            </a>
            <ul class="">
                <li class="">
                    <a href="url('chaos_company_admin_list_comment')">Manage</a>
                </li>
            </ul>
        </li>
    </ul>
    <a href="#" class="search-link d-flex justify-content-between align-items-center hidden-lg-up" data-toggle="search">Tap here to search <i class="pg-search float-right"></i></a>
</div>